@if (downloads.length) {
  <div class="btn-group" dropdown (isOpenChange)="onDropDownState($event)" [dropup]="true" [class.has-active-download]="dropdownView.id !== '0'">
    @if (dropdownView.state === DOWNLOAD_STATE.PROGRESSING) {
      <progressbar class="download-toggle-progress" [value]="dropdownView?.progress" [max]="1"></progressbar>
    }
    <button id="downloads-toggle" dropdownToggle type="button" class="btn download-toggle" aria-controls="downloads-menu">
      <div class="download-toggle-content no-text-select">
        @if (dropdownView.id !== '0') {
          <img class="download-toggle-icon" width="30" height="30" [src]="dropdownView?.icon" alt="" />
        } @else {
          <div class="download-count">
            <svg [lucideIcon]="icons.LucideDownload" class="fs-lg"></svg>
            <span class="badge rounded-pill bg-primary">{{ dropdownView?.name }}</span>
          </div>
        }
        @if (dropdownView.id !== '0') {
          <div class="download-toggle-details">
            <div class="download-name">{{ dropdownView?.name }}</div>
            @if (dropdownView.state === DOWNLOAD_STATE.PROGRESSING) {
              <div class="download-meta text-gray">
                <span class="download-size">{{ dropdownView.humanSize?.done }}/{{ dropdownView.humanSize?.total }}{{ dropdownView.humanSize?.unit }}</span>
                <span class="download-time text-truncate">{{ dropdownView.timeLeft | amDuration: 's' }}</span>
                <span class="download-speed">{{ dropdownView.humanSpeed?.value }}&nbsp;{{ dropdownView.humanSpeed?.unit }}</span>
              </div>
            }
          </div>
        }
      </div>
    </button>
    <ul id="downloads-menu" *dropdownMenu class="dropdown-menu downloads-menu" role="menu" aria-labelledby="downloads-toggle">
      @for (d of downloads; track d.id) {
        <li class="download-item" role="menuitem">
          <div class="dropdown-item download-item-content no-text-select" tabindex="-1">
            <img class="download-item-icon" width="28" height="28" [src]="d.icon" alt="" />
            <div class="download-details">
              <div class="download-name">{{ d.name }}</div>
              @if (d.state === DOWNLOAD_STATE.PROGRESSING) {
                <div class="download-meta text-gray">
                  <span class="download-size">{{ d.humanSize.done }}/{{ d.humanSize.total }}{{ d.humanSize.unit }}</span>
                  <span class="download-time text-truncate">{{ d.timeLeft | amDuration: 's' }}</span>
                  <span class="download-speed">{{ d.humanSpeed.value }}&nbsp;{{ d.humanSpeed.unit }}</span>
                </div>
              }
            </div>
            <div class="download-actions">
              @switch (d.state) {
                @case (DOWNLOAD_STATE.PROGRESSING) {
                  <button (click)="onPause($event, d.id)" type="button" class="btn btn-outline-secondary">
                    <svg [lucideIcon]="icons.LucidePause"></svg>
                  </button>
                  <button (click)="onCancel($event, d.id)" type="button" class="btn btn-outline-danger">
                    <svg [lucideIcon]="icons.LucideSquare"></svg>
                  </button>
                }
                @case (DOWNLOAD_STATE.COMPLETED) {
                  <button (click)="onOpen($event, d.id)" type="button" class="btn btn-outline-secondary">
                    <svg [lucideIcon]="icons.LucideFolderOpen"></svg>
                  </button>
                }
                @case (DOWNLOAD_STATE.PAUSED) {
                  <button (click)="onResume($event, d.id)" type="button" class="btn btn-outline-secondary">
                    <svg [lucideIcon]="icons.LucidePlay"></svg>
                  </button>
                }
              }
              @if (d.state !== DOWNLOAD_STATE.PROGRESSING) {
                <button
                  (click)="onRemove($event, d.id)"
                  type="button"
                  class="btn btn-outline-danger"
                  aria-label="Remove"
                  l10n-aria-label
                  l10nTranslate
                >
                  <svg [lucideIcon]="icons.LucideX"></svg>
                </button>
              }
            </div>
          </div>
          @if (d.progress !== 1) {
            <progressbar class="download-item-progress" [value]="d.progress" [max]="1"></progressbar>
          }
        </li>
      }
    </ul>
  </div>
}
