<div class="topBar">
  <div class="topBar-container" [class.macOS]="appService.isMacOS && !appService.isFullScreen()">
    <div class="topBar-content">
      <div class="btn-group" dropdown (isOpenChange)="onDropDownState($event)">
        <!-- App Menu (only for linux & windows -->
        @if (!appService.isMacOS) {
          <button (click)="onAppMenu()" (mouseenter)="onAppMenuFocus(true)" (mouseleave)="onAppMenuFocus(false)" class="btn app-btn" type="button">
            <svg [lucideIcon]="icons.LucideEllipsisVertical"></svg>
          </button>
        }
        <!-- Dropdown menu-->
        <button id="button-basic" dropdownToggle type="button" class="btn" aria-controls="dropdown-basic">
          <div class="d-flex align-items-center no-text-select">
            <svg [lucideIcon]="icons.LucideServer" class="me-1"></svg>
            @if (activeServer.id === 0) {
              <div class="me-1 text-truncate" l10nTranslate>{{ activeServer.name }}</div>
            } @else {
              <div class="me-1 text-truncate">{{ activeServer.name }}</div>
            }
            <svg [lucideIcon]="icons.LucideChevronDown" class="ms-auto"></svg>
          </div>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
          @for (server of servers; track server.id) {
            <li role="menuitem" (mouseenter)="enterMenuItem(server.id)" (mouseleave)="leaveMenuItem()" (click)="onActiveServer($event, server.id)">
              <a class="d-flex align-items-center dropdown-item no-text-select">
                <svg
                  [lucideIcon]="icons.LucideCircle"
                  class="{{ serverStatusClass(server) }} {{ activeServer.id === server.id ? 'icon-fill' : '' }}"
                ></svg>
                <span class="text-truncate ms-1 me-auto">{{ server.name }}</span>
                <div class="ms-auto">
                  @if (hoverIndex === server.id) {
                    <div>
                      <button (click)="onReload($event, server)" type="button" class="btn btn-sm btn-outline-secondary ms-4 me-1">
                        <svg [lucideIcon]="icons.LucideRotateCw"></svg>
                      </button>
                      <button (click)="openEditServerModal($event, server)" type="button" class="btn btn-sm btn-outline-secondary me-1">
                        <svg [lucideIcon]="icons.LucidePencil"></svg>
                      </button>
                      <button (click)="openRemoveServerModal($event, server)" type="button" class="btn btn-sm btn-outline-danger">
                        <svg [lucideIcon]="icons.LucideTrash"></svg>
                      </button>
                    </div>
                  } @else {
                    <div>
                      <button class="btn btn-sm ms-4 me-1" style="width: 1.25em; visibility: hidden">&nbsp;</button>
                      <button class="btn btn-sm me-1" style="width: 1.25em; visibility: hidden">&nbsp;</button>
                      <button class="btn btn-sm" style="width: 1.25em; visibility: hidden">&nbsp;</button>
                    </div>
                  }
                </div>
              </a>
            </li>
          }
          <li class="divider dropdown-divider"></li>
          <li role="menuitem">
            <a class="d-flex align-items-center dropdown-item" href="#" (click)="openAddServerModal($event)">
              <svg [lucideIcon]="icons.LucidePlus"></svg>
              <span class="ms-1" l10nTranslate>Connect to a server</span>
            </a>
          </li>
        </ul>
      </div>
      <!-- Tabs menu-->
      <div class="btn-group">
        @for (server of serversAppsCounter; track server.id) {
          <button type="button" class="btn border-start-0" (click)="onActiveServer(null, server.id)">
            <div class="d-flex align-items-center no-text-select">
              <svg [lucideIcon]="icons.LucideRss" class="text-primary me-1"></svg>
              <div class="text-truncate me-3">{{ server.name }}</div>
              @if (server.applications.syncs) {
                <div>
                  <svg [lucideIcon]="icons.LucideRefreshCw" class="icon-spin"></svg>
                  <span class="translate-middle badge rounded-pill bg-purple fs-xxxs ms-1">{{ server.applications.syncs }}</span>
                </div>
              }
              @if (server.applications.notifications) {
                <div>
                  <svg [lucideIcon]="icons.LucideBell"></svg>
                  <span class="translate-middle badge rounded-pill bg-warning fs-xxxs ms-1">{{ server.applications.notifications }}</span>
                </div>
              }
              @if (server.applications.tasks) {
                <div>
                  <svg [lucideIcon]="icons.LucideFlag"></svg>
                  <span class="translate-middle badge rounded-pill bg-maroon fs-xxxs ms-1">{{ server.applications.tasks }}</span>
                </div>
              }
            </div>
          </button>
        }
        @if (updateDownloaded) {
          <button (click)="onUpdate()" class="btn border-start-0" type="button">
            <svg [lucideIcon]="icons.LucideTriangleAlert" class="text-warning"></svg>
            <span class="ms-1">{{ updateDownloaded }}</span>
          </button>
        }
      </div>
    </div>
    <app-top-bar-buttons></app-top-bar-buttons>
  </div>
</div>
