/*
 * Component: modal
 * ----------------
 */
.modal-md {
    max-width: 45% !important;
}

.modal-header {
  @include border-top-radius(4px);
  line-height: 1;
}

.modal-title {
  @extend .truncate;
  font-size: $font-size-sm;
  line-height: 2;
  i {
    margin-right: 5px;
  }
}

.modal-body {
  font-size: $font-size-xs;
  padding: 8px 12px;
  background-color: $body-bg;
}

//Modal variants
.modal-primary {
  .modal-header {
    @extend .bg-primary;
    color: white;
  }
  .modal-footer {
    background-color: $gray-lightest;
  }
}

.modal-warning {
  .modal-header {
    @extend .bg-warning;
    color: white;
  }
  .modal-footer {
    background-color: $gray-lightest;
  }
}

.modal-info {
  .modal-header {
    @extend .bg-info;
    color: white;
  }
  .modal-footer {
    background-color: $gray-lightest;
  }
}

.modal-success {
  .modal-header {
    @extend .bg-success;
    color: white;
  }
  .modal-footer {
    background-color: $gray-lightest;
  }
}

.modal-danger {
  .modal-header {
    @extend .bg-danger;
    color: white;
  }
  .modal-footer {
    background-color: $gray-lightest;
  }
}


/* Initial state (before opening) */
.modal.fade .modal-dialog {
  opacity: 0;
  transform: translateY(-20px) scale(0.95);
  transition:
          transform 0.45s cubic-bezier(0.16, 1, 0.3, 1),
          opacity 0.3s ease-out;
}

/* Final state (modal visible) */
.modal.show .modal-dialog {
  opacity: 1;
  transform: translateY(0) scale(1);
}