<div class="app-main {{appService.themeMode()}}">
  <app-top-bar-component></app-top-bar-component>
  @if (!activeServer.id || !activeServer.available) {
    <div class="app-content">
      @if (!activeServer.available) {
        <div class="d-flex align-items-center justify-content-center h-100">
          <div class="d-flex flex-column">
            <div class="text-white mb-2">
              @if (isRetrying) {
                <span l10nTranslate>Trying to connect to the server...</span>
              } @else {
                <span l10nTranslate>Unable to connect to this server !</span>
              }
            </div>
            <button (click)="retryLoad()" type="button" class="btn btn-dark ms-auto me-auto">
              <span class="me-1" l10nTranslate>Retry</span>
              <fa-icon [icon]="icons.faArrowsRotate" [animation]="isRetrying ? 'spin' : null"/>
            </button>
          </div>
        </div>
      }
    </div>
  }
  <app-bottom-bar-component></app-bottom-bar-component>
</div>
